/* LIGHT MODE SWITCH */
.theme-switch {
    z-index: 100;
    position: absolute;
    bottom: 95%;
    left: 95%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 35px;

}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #aaa;
    transition: .4s;
    border-radius: 20px;
}

.switch-slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

@media only screen and (max-width: 900px) {
    .theme-switch {
        z-index: 100;
        position: absolute;
        bottom: 95%;
        left: 80%;
    }
}

input:checked + .switch-slider {
    background-color: #c04f15;
}

input:checked + .switch-slider:before {
    transform: translateX(35px);
}

/*LIGHT MODE OVERRIDE*/
.light-theme .background {
    background-color: #ccc;
}

.light-theme {
    background-color: #fff;
    color: #333;
}

.light-theme .sidebar-bot {
    background-color: #f0f0f0;
}

.light-theme .sidebar-bot-content h2 {
    color: #333;
}

.light-theme .sidebar-bot-content h3,
.light-theme .sidebar-bot-content h4,
.light-theme .sidebar-bot-content p {
    color: #666;
}

.light-theme .content {
    background-color: #f5f5f58e;
}


.light-theme .nav {
    background-color: #f5f5f58e;
}

@media only screen and (max-width: 900px) {
    .light-theme .nav {
        background-color: #f5f5f5;
    }
}

.light-theme .content h1,
.light-theme .content p {
    color: #333;
}

.light-theme ul.horizontal-list li a {
    text-align: #333;
    background-color: #cccccc;
}

.light-theme  ul.horizontal-list li a:hover {
    background-color: #c04f15;
}

.light-theme .timeline {
    color: #333;
  }
  
  .light-theme .tm-desc {
    color: #333;
  }
  
  .light-theme .timeline:before {
    background-color: #333;
  }
  
  .light-theme .timeline-event:hover .timeline-event-icon {
    background-color: #c04e15;
  }
  
  .light-theme .timeline-event:hover .timeline-event-thumbnail {
      background-color: #c04e15;
    }
    
    .light-theme .timeline-event:hover .timeline-event-copy h3 {
        color: #c04e15;
    }  

  .light-theme .timeline-event-icon {
    background-color: #f0f0f0;
  }
  
  .light-theme .timeline-event-thumbnail {
    color: #333;
    box-shadow: inset 0 0 0 0em #c04e15;
  }

  @-webkit-keyframes color_change_dark {
    0% {
      color: #333;
    }
    100% {
      color: #c04e15;
    }
  }
  
  
  .light-theme .timeline-event:hover .timeline-event-copy h3 {
    animation-name: color_change_dark;
}
  
  body.light-theme .animated-element {
    -webkit-animation: color_change_light 2s infinite;
    animation: color_change_light 2s infinite;
  }
  
  .light-theme {
    background-color: #f0f0f0;
    color: #333;
  }
  
  .light-theme .button,
  .light-theme .link-button,
  .light-theme .button-nav {
    background-color: #fff;
    color: #333;
  }
  
  .light-theme .button-nav {
    background-color: #f5f5f58e;
  }
  
  .light-theme .link-button:hover,
  .light-theme .button-nav:hover,
  .light-theme .button-nav:active,
  .light-theme .button:hover,
  .light-theme .button:active  {
    background-color: #a1410f;
    color: #fff;
  }

  
  .light-theme .description p {
    font-weight: 300;
    color: #fff;
  }

  .light-theme #skills-image {
    content: url("static/skills-light.png");
  }

  #skills-image {
    content: url("static/skills.png");
  }

  .light-theme #sidebar-top-img {
    content: url("static/pfpblight.jpg");
  }

  .light-theme .pfp {
    background-image: url("static/image3light.png");
  }

  .light-theme .content::-webkit-scrollbar {
    background-color: #fff; /* Dark background color */
}

.light-theme .content::-webkit-scrollbar-track {
    background: #fff; /* Darker color for the tracking area */
}

.light-theme .content::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Color of the scroll thumb */
}

.light-theme .content::-webkit-scrollbar-thumb:hover {
    background-color: #ccc; /* Lighter color of the thumb on hover */
}

.light-theme .content::-webkit-scrollbar-thumb:active {
    background-color: #ccc; /* Light color of the thumb when clicked */
}

