@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");


.button {
  font-family: "Arial";
  font-weight: 600;
  width: 140px;
  height: 45px;
  margin-right: 10px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  background-color: transparent;
}

.button:before {
  content: '';
  background: linear-gradient(45deg,
   #c04f15, #dd8f68, #8a401b, #cf632d,#c04f15,
   #c04f15, #dd8f68, #8a401b, #cf632d, #c04f15);
  position: absolute;
  top: -4px;
  left:-4px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.button:active {
  color: #fff
}

.button:active:after {
  background: transparent;
  color: #fff;
}

.button:hover:before {
  opacity: 1;
  color: #fff;
}

.button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
  color: #fff;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}